/* 
 * Defines default parameters 
 * To change any of these parameters, include the variable in your command with 2 dashes "--"
 *  nextflow run main_AMR++.nf -profile conda --reads "/path/to/other/reads/*_R{1,2}.fastq.gz"
 */ 


params {
     /* Display help message */
    help = false

    /* Location of forward and reverse read pairs */
    reads = "${baseDir}/data/raw/*_R{1,2}.fastq.gz"

    /* Location of reference/host genome */
    host = "${baseDir}/data/host/chr21.fasta.gz"

    /* Optionally, you can specify the location of the host index files created with bwa with the path and wildcard (*): */
    host_index = "${baseDir}/data/host/chr21.fasta.gz*"

    /* Output directory */
    output = "test_results"
    
    /* Kraken confidence score, 0.0 by default */
    kraken_confidence = 0.1

    /* Kraken database location, default is to look where the demo db is downloaded */   
    kraken_db = ""
    krakendb_inter = ""

    kraken_options = ""

    /* Kraken db for Genus and species classification  */
    confirmation_db = ""

    /* Optional flags for extract_kraken_reads.py "--include-children --include-parents" */   
    extract_reads_taxid = "75985"
    extract_reads_options_single = "--include-children"
    extract_reads_options_double = "--include-children"

    /* Location of reference genome directory */
    genome_ref_dir = "/scratch/user/enriquedoster/test_pipeline/subset_reference_genomes/"

    coverage_threshold = 0.0001

    dedup_sam = "Y"

    /* Number of threads */
    threads = 4

    /* Trimmomatic trimming parameters */
    adapters = "${baseDir}/data/adapters/nextera.fa"

    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* multiQC */
    multiqc = "$baseDir/data/multiqc"

    /* Themisto */
    themisto_index = "$baseDir/data/themisto/"

    clustering_file = "$baseDir/data/themisto/2025_Mh_msweep_annotations_k9.tsv"

    /* Optional flag for running GSV subworkflows starting with merged and unmerged reads */
    merged_reads = 'test_results/Flash_reads/*.{extendedFrags,notCombined}.fastq.gz'
    //merged_reads = 'test_results/Deduped_reads/*_{merged,unmerged}.dedup.fastq.gz'
    //merged_reads = 'test_results/HostRemoval/NonHostFastq/*.{merged,unmerged}.non.host.fastq.gz'
    //merged_reads = 'test_results/Filtered_pseudoaligned_reads/*_pseudoaligned_{merged,unmerged}.fastq.gz'

    QC_dir = "/scratch/user/u.ed124096/BRDnoBRD_run/VARIANTplusplus/${output}/QC_trimming/Paired/"
    QC_prefix = "QC_trimmed"
}


// The location of each dependency binary needs to be specified here.
// The examples listed below are assuming the tools are already in the $PATH, however,
// the absolute path to each tool can be entered individually.
// Only change things here if you need to point to a specific binary on your computing system.
env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = "java"
    TRIMMOMATIC = "trimmomatic"
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    QIIME = "qiime"
}
