// To use SLURM succesfully, run nextflow from an sbatch script with the 
// pertinant details for your computing cluster.
process {
      clusterOptions = '--ntasks=1 --nodes=1'
      errorStrategy = 'retry'  // Prevent Nextflow from exiting on submission error
      maxRetries = 5           // If submission fails, Nextflow tries again
}

// Increase polling time to prevent timeout errors
executor {
    name = 'slurm'
    submitTimeout = '10 min'          // Increase SLURM job submission timeout
    pollInterval = '10 min'  // Check queue less frequently
    perCpuMemAllocation = false
    queueSize = 10
}


process {
    withLabel: large_memory {
        cpus = params.threads
        memory = '250 GB'
        time = '2h'
    }
    withLabel: medium_memory {
        cpus = params.threads
        memory = '100 GB'
        time = '1h'
    }
    withLabel: small_memory_medium_time {
        cpus = params.threads
        memory = '25 GB'
        time = '2h'
    }
    withLabel: small_memory {
        cpus = params.threads
        memory = '50 GB'
        time = '30m'
    }
}
